.flash, .info, .success, .warning, .error {
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center; 
    margin: 10px;
    font-size: 15px;
    line-height: 23px;
}


.flash_abs.info, .flash_abs.success, .flash_abs.warning, .flash_abs.error, #frm-searchFullTextForm ul.error{
    padding: 40px 10px 40px 50px;
    background-repeat: no-repeat;
    background-position: 10px center; 
    margin: 10px;

    /*border: 2px solid  #DEDCDC;*/
    border: 2px solid ;
    width: 400px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -210px;   
    position: fixed;
    font-size: 16px;
    border-radius: 4px;
    z-index: 99999999;


}

.info {
    color: #00529B;
    background-color: #C6DBFF;
    background-image: url('../images/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/error.png');
}