/******************** GRID ********************/

.grido {
    background: #fff;
    border-radius: 4px;
    border-spacing: 0;
    border: 1px solid #CACACA;
    text-align: left;
    border-collapse: inherit;
    width: 100%;
    box-shadow: 1px 1px 12px -1px rgba(0,0,0,.2);
}

.grido thead th,
.grido tfoot td,
.grido.filter.outer,
.navbar-inner {
    background: #E9E9E9;
    background:-moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
    background:-webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background:-o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background:-ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background:linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
}
.grido thead .column,
.grido thead .actions {
    background: #fafafa;
    background: -moz-linear-gradient(top, #fafafa 0%, #f3f3f3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#f3f3f3));
    background: -webkit-linear-gradient(top, #fafafa 0%,#f3f3f3 100%);
    background: -o-linear-gradient(top, #fafafa 0%,#f3f3f3 100%);
    background: -ms-linear-gradient(top, #fafafa 0%,#f3f3f3 100%);
    background: linear-gradient(to bottom, #fafafa 0%,#f3f3f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f3f3f3',GradientType=0 );
    
}

.grido thead .filter th {
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #f2f2f2 0%, #e9e9e9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e9e9e9));
    background: -webkit-linear-gradient(top, #f2f2f2 0%,#e9e9e9 100%);
    background: -o-linear-gradient(top, #f2f2f2 0%,#e9e9e9 100%);
    background: -ms-linear-gradient(top, #f2f2f2 0%,#e9e9e9 100%);
    background: linear-gradient(to bottom, #f2f2f2 0%,#e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e9e9e9',GradientType=0 );
}

.grido tr.head th:first-child {border-radius: 4px 0 0 0}
.grido tr.head th:last-child {border-radius: 4px 4px 0 0}

.grido th,
.grido td
 {
    padding:0 6px ;
    border:solid #CACACA;
    border-width: 0 1px 1px 0;
    height: 30px;
}
/*
.grido td,
.grido th.checker{border-width: 0 0 1px 0;}
.grido .head th {border-width: 0}
*/
/*.grido th.column {width: 8%}*/

.grido thead {font-size: 13px; font-weight: normal}
.grido tfoot {font-size: 1.1em}

.grido .no-results {text-align: center}

/******************** FILTER ********************/

.grido tr.filter {height: 20px}

.grido tr.filter th {
    padding: 2px 6px 0 5px;
    border-radius: 0;
    height: 35px;
}

.grido.filter.outer {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.grido.filter.outer .items {
    width: 84%;
    float: left;
}

.grido.filter.outer .items span {
    float: left;
    display: block;
    width: 133px;
    padding: 7px;
}

.filter.outer select,
.filter.outer input.text,
.filter.inner select,
.filter.inner input.text {width: 95%}

.grido.filter.outer .buttons {
    float: right;
    margin: 15px 7px 0 0;
}

.grido input.date {background: url('../img/cal.jpg') #fff no-repeat right center}

/*.grido .btn-group {vertical-align: baseline}*/

/******************** OTHERS ********************/

.grido th.actions {

    text-align: center;
    width: 285px;
}

.grido th.buttons,
.grido td.actions {text-align: center}

.grido td.actions a {margin-right: 3px}
.grido th.checker {width: 0.1%;text-align: center}
.grido td.checker {text-align: center}

.grido th:last-child,
.grido td:last-child { border-right: 0;}

.grido tbody tr.even {background: #f9f9f9}

.grido tbody tr:hover,
.grido tbody tr.selected {background: #DEEEFA}

.grido tfoot tr {height: 35px}
.grido tfoot td {border-bottom:0}
.grido tfoot td:first-child {border-radius: 0 0 0 4px}
.grido tfoot td:last-child {border-radius: 0 0 4px 4px}

.grido tfoot {text-align: center; line-height: 23px}
.grido tfoot .operations {float: left;text-align: left}
.grido tfoot .count {float:right; text-align: left}
.grido .grido .dropdown-menu {min-width: 50px}

.grido .center {text-align: center}
.grido .empty {background: #FBFBFB url(../img/bg.jpg) 0 0 repeat}

/******************** TWITTER BOOTSTRAP RESET ********************/

.grido input.text, .grido select {
    margin-bottom: 0;
    padding: 0;
    height: 23px;
    width: auto;
}
.grido input.text {text-indent: 3px}

.grido tr.filter .buttons input {
    width: auto;
    padding: 4px 10px 4px;
    height: auto;
    margin-right: 4px;
}
.grido label {display: inline}

.grido th.column span {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    content: "";
    float: right;
    margin-top: 8px;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.grido th.column div {width: auto}

.grido th.column.asc span {border-bottom: 4px solid #555}
.grido th.column.desc span {border-top: 4px solid #555}

.grido input[type="radio"],
.grido input[type="checkbox"] {margin: 3px 0}

.grido.filter.outer label {font-size: 12px}

.grido .dropdown-menu {min-width: auto;}

.grido .btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #CCCCCC #CCCCCC #B3B3B3;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.grido .btn-mini {
    border-radius: 3px 3px 3px 3px;
    font-size: 13px;
    padding: 2px 3px;
}



.grido .btn-mini i{
    background: url("../images/admin/my-icons.png");
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    margin: 1px;
}

.grido .btn-mini i.icon-pencil{
    background-position: 0px -326px;
}

.grido .btn-mini i.icon-goto{
    background-position: 0px -293px;
}

.grido .btn-mini i.icon-delete{
     background-position: 0px -124px;
}

.grido .btn-mini i.icon-rmix{
     background-position: 0px -342px;
}

.grido .btn-mini i.icon-sreality{
     background-position: 0px -108px;
}

.grido .btn-mini i.icon-czreality{
     background-position: 0px -374px;
}

.grido .btn-mini i.icon-up{
     background-position: 0px -44px;
}

.grido .btn-mini i.icon-down{
     background-position: 0px -261px;
}

.grido .btn-mini i.icon-top{
     background-position: 0px -140px;
}

.grido .glyphicon{
     background: url("../images/admin/my-icons.png");
    width: 16px;
    height: 14px;
    display: block;
}

.grido .glyphicon.icon-ok{ 
     background-position: 0px -233px;   
}
.grido .glyphicon.icon-remove{
    height: 16px;
     background-position: 0px -358px;
}


