body{   
    background: white;
    font-family: 'Tahoma';
    font-size: 14px;
    color: #3f3f3f;
}

h1, h2, h3{
    font-weight: normal;
}

h1, .asH1{ 
    font-size: 20px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    color: #666;
    margin-bottom: 8px;
}
@media (max-width: 500px) {
    h1, .asH1{ 
        font-size: 18px;
    }
}
a {
    color: #2a6496;
}
h2{
    font-size: 18px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    color: #555;
    margin-bottom: 8px;
    margin-top: 20px;
}
h2 span{
    font-size: 14px;
    color: #4eab32;
}
h3{
    font-size: 16px;
    line-height: 30px;
}

p {
    line-height: 22px;
}
/*

top

*/
.header{
    height: 100px;
}
.logo{
    color: white;
    line-height: 95px;
    font-size: 42px;
    font-weight: 500;
}
.logo a{
    color: black;
    text-decoration: none;
}
.logo span{
    color: #ca4747;
    font-weight: 600;
}

/*@media (max-width: 440px) {
    .motto{
        display: none;
    }
}*/

/*
menu
*/
#main-menu{
    line-height: 95px;
}
#main-menu li, #main-menu li a{
    display: block;
}
#main-menu li a{
    text-decoration: none;
    padding: 0px 6px;
    float: right;
    font-size: 14px;
    color: #999;
    line-height: 95px;
    font-weight: bold;
}
#main-menu li a:hover{
    text-decoration: underline;  
}
@media (max-width: 400px) {
    #main-menu {
        display: none;
    }
}

/*

main

*/
.background {
    background: #1597ce;
    padding: 50px 0;
}
.background .main {
    background: white; 
    padding: 20px 30px;
    border-radius: 2px;
}


/*

breadcrumbs

*/
.breadcrumbs{
    height: 30px;
}
.breadcrumbs ul li{
    float: left;
}

/*
others
*/
.footer{
    padding: 20px;
}
.footer p{
    font-size: 12px;
    line-height: 16px;
    color: #777;
    text-align: center;
}
.offers-list{
    line-height: 20px;
}
.bottom-menu {
    text-align: center;
}
.bottom-menu li{
    display: inline-block;
}
.offers-list li a {
    line-height: 22px;
}


.button {
    line-height: 40px;
    padding: 0 50px;
}

ul {
    line-height: 25px;
    list-style: disc;
    padding-left: 30px;
}
/*
hp form

*/
#frm-searchForm{
    border: 1px solid #ddd;
    padding: 20px 10px;
    border-radius: 2px;
}
#frm-searchForm select{
    width: 100%;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 4px;
    font-size: 15px;
    color: #666;
}

/*

searchForm

*/
#frm-contactForm{
    background: #f2f2f2;
    border: 1px solid #c3c3c3;
    padding: 15px;
    border-radius: 2px; 
}

#frm-contactForm select{
    width: 100%; 
}

#frm-contactForm input{
    padding: 4px;
    font-size: 15px;
    color: #666;
}

#frm-contactForm input, #frm-contactForm textarea{
    padding: 5px;
    margin: 3px;
    border: 1px solid #666;
}
#frm-contactForm textarea {
    width: 500px;
    height: 100px;
}
#frm-contactForm input[type='submit'] {
    cursor: pointer;
    color: white;
    font-size: 18px;
    padding: 10px 30px;
    background: #d9534f;
     border: none;
}
#frm-contactForm th{
    text-align: right
}
#frm-contactForm label{
    padding: 0 10px;
}
#frm-contactForm .error {
    padding: 10px;
    margin-bottom: 20px;
}

/*

jobs

*/
.job{
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.job .small-info{
    font-size: 12px;
}

.big-button{
    font-size: 18px;
    padding: 10px 30px;
    text-align: center;
    background: #d9534f;
    color: white;
    border-radius: 2px;
}
@media (max-width: 600px) {
    .big-button{
        font-size: 13px;
        padding: 10px 10px;
            line-height: 25px;
    }
}