*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*@media (min-width: 568px) {
    .container {
        width: 560px;
    }
}
@media (min-width: 892px) {
    .container {
        width: 870px;
    }
}*/
@media (min-width: 800px) {
    .container {
        width: 770px;
    }
}

.b-margin-2{margin-bottom: 2px !important}
.b-margin-5{margin-bottom: 5px !important}
.b-margin-6{margin-bottom: 6px !important}
.b-margin-7{margin-bottom: 7px !important}
.b-margin-8{margin-bottom: 8px !important}
.b-margin-9{margin-bottom: 9px !important}
.b-margin-10{margin-bottom: 10px !important}
.b-margin-15{margin-bottom: 15px !important}
.b-margin-20{margin-bottom: 20px !important}
.b-margin-25{margin-bottom: 25px !important}
.b-margin-30{margin-bottom: 30px !important}
.b-margin-35{margin-bottom: 35px !important}
.b-margin-40{margin-bottom: 40px !important}
.b-margin-45{margin-bottom: 45px !important}

.t-margin-2{margin-top: 2px!important}
.t-margin-5{margin-top: 5px!important}
.t-margin-6{margin-top: 6px !important}
.t-margin-7{margin-top: 7px !important}
.t-margin-8{margin-top: 8px !important}
.t-margin-9{margin-top: 9px !important}
.t-margin-10{margin-top: 10px!important}
.t-margin-15{margin-top: 15px!important}
.t-margin-20{margin-top: 20px!important}
.t-margin-25{margin-top: 25px!important}
.t-margin-30{margin-top: 30px!important}
.t-margin-35{margin-top: 35px!important}
.t-margin-40{margin-top: 40px!important}
.t-margin-45{margin-top: 45px!important}

.l-margin-0{margin-left: 0 !important}
.r-margin-0{margin-right: 0 !important}

.l-padding-0{padding-left: 0 !important}
.r-padding-0{padding-right: 0 !important}

.h-padding-0{padding-left: 0 !important; padding-right: 0 !important}
.v-padding-0{padding-top: 0 !important; padding-bottom: 0 !important}

.h-padding-30{padding-left: 15px !important; padding-right: 15px !important}

.max-width-400{max-width: 400px !important}
.max-width-450{max-width: 450px !important}
.max-width-550{max-width: 550px !important}
.max-width-600{max-width: 600px !important}


.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-11 {
    width: 91.66666667%;
}
.col-xs-10 {
    width: 83.33333333%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-8 {
    width: 66.66666667%;
}
.col-xs-7 {
    width: 58.33333333%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-5 {
    width: 41.66666667%;
}
.col-xs-4 {
    width: 33.33333333%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-2 {
    width: 16.66666667%;
}
.col-xs-1 {
    width: 8.33333333%;
}
.col-xs-pull-12 {
    right: 100%;
}
.col-xs-pull-11 {
    right: 91.66666667%;
}
.col-xs-pull-10 {
    right: 83.33333333%;
}
.col-xs-pull-9 {
    right: 75%;
}
.col-xs-pull-8 {
    right: 66.66666667%;
}
.col-xs-pull-7 {
    right: 58.33333333%;
}
.col-xs-pull-6 {
    right: 50%;
}
.col-xs-pull-5 {
    right: 41.66666667%;
}
.col-xs-pull-4 {
    right: 33.33333333%;
}
.col-xs-pull-3 {
    right: 25%;
}
.col-xs-pull-2 {
    right: 16.66666667%;
}
.col-xs-pull-1 {
    right: 8.33333333%;
}
.col-xs-pull-0 {
    right: auto;
}
.col-xs-push-12 {
    left: 100%;
}
.col-xs-push-11 {
    left: 91.66666667%;
}
.col-xs-push-10 {
    left: 83.33333333%;
}
.col-xs-push-9 {
    left: 75%;
}
.col-xs-push-8 {
    left: 66.66666667%;
}
.col-xs-push-7 {
    left: 58.33333333%;
}
.col-xs-push-6 {
    left: 50%;
}
.col-xs-push-5 {
    left: 41.66666667%;
}
.col-xs-push-4 {
    left: 33.33333333%;
}
.col-xs-push-3 {
    left: 25%;
}
.col-xs-push-2 {
    left: 16.66666667%;
}
.col-xs-push-1 {
    left: 8.33333333%;
}
.col-xs-push-0 {
    left: auto;
}
.col-xs-offset-12 {
    margin-left: 100%;
}
.col-xs-offset-11 {
    margin-left: 91.66666667%;
}
.col-xs-offset-10 {
    margin-left: 83.33333333%;
}
.col-xs-offset-9 {
    margin-left: 75%;
}
.col-xs-offset-8 {
    margin-left: 66.66666667%;
}
.col-xs-offset-7 {
    margin-left: 58.33333333%;
}
.col-xs-offset-6 {
    margin-left: 50%;
}
.col-xs-offset-5 {
    margin-left: 41.66666667%;
}
.col-xs-offset-4 {
    margin-left: 33.33333333%;
}
.col-xs-offset-3 {
    margin-left: 25%;
}
.col-xs-offset-2 {
    margin-left: 16.66666667%;
}
.col-xs-offset-1 {
    margin-left: 8.33333333%;
}
.col-xs-offset-0 {
    margin-left: 0;
}
@media (min-width: 568px) {

    /*.b-margin-sm-2{margin-bottom: 2px !important}
    .b-margin-sm-5{margin-bottom: 5px !important}
    .b-margin-sm-6{margin-bottom: 6px !important}
    .b-margin-sm-7{margin-bottom: 7px !important}
    .b-margin-sm-8{margin-bottom: 8px !important}
    .b-margin-sm-9{margin-bottom: 9px !important}
    .b-margin-sm-10{margin-bottom: 10px !important}
    .b-margin-sm-15{margin-bottom: 15px !important}
    .b-margin-sm-20{margin-bottom: 20px !important}
    .b-margin-sm-25{margin-bottom: 25px !important}
    .b-margin-sm-30{margin-bottom: 30px !important}
    .b-margin-sm-35{margin-bottom: 35px !important}
    .b-margin-sm-40{margin-bottom: 40px !important}
    .b-margin-sm-45{margin-bottom: 45px !important}

    .t-margin-sm-2{margin-top: 2px!important}
    .t-margin-sm-5{margin-top: 5px!important}
    .t-margin-sm-6{margin-top: 6px !important}
    .t-margin-sm-7{margin-top: 7px !important}
    .t-margin-sm-8{margin-top: 8px !important}
    .t-margin-sm-9{margin-top: 9px !important}
    .t-margin-sm-10{margin-top: 10px!important}
    .t-margin-sm-15{margin-top: 15px!important}
    .t-margin-sm-20{margin-top: 20px!important}
    .t-margin-sm-25{margin-top: 25px!important}
    .t-margin-sm-30{margin-top: 30px!important}
    .t-margin-sm-35{margin-top: 35px!important}
    .t-margin-sm-40{margin-top: 40px!important}
    .t-margin-sm-45{margin-top: 45px!important}*/

    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
    .col-sm-pull-12 {
        right: 100%;
    }
    .col-sm-pull-11 {
        right: 91.66666667%;
    }
    .col-sm-pull-10 {
        right: 83.33333333%;
    }
    .col-sm-pull-9 {
        right: 75%;
    }
    .col-sm-pull-8 {
        right: 66.66666667%;
    }
    .col-sm-pull-7 {
        right: 58.33333333%;
    }
    .col-sm-pull-6 {
        right: 50%;
    }
    .col-sm-pull-5 {
        right: 41.66666667%;
    }
    .col-sm-pull-4 {
        right: 33.33333333%;
    }
    .col-sm-pull-3 {
        right: 25%;
    }
    .col-sm-pull-2 {
        right: 16.66666667%;
    }
    .col-sm-pull-1 {
        right: 8.33333333%;
    }
    .col-sm-pull-0 {
        right: auto;
    }
    .col-sm-push-12 {
        left: 100%;
    }
    .col-sm-push-11 {
        left: 91.66666667%;
    }
    .col-sm-push-10 {
        left: 83.33333333%;
    }
    .col-sm-push-9 {
        left: 75%;
    }
    .col-sm-push-8 {
        left: 66.66666667%;
    }
    .col-sm-push-7 {
        left: 58.33333333%;
    }
    .col-sm-push-6 {
        left: 50%;
    }
    .col-sm-push-5 {
        left: 41.66666667%;
    }
    .col-sm-push-4 {
        left: 33.33333333%;
    }
    .col-sm-push-3 {
        left: 25%;
    }
    .col-sm-push-2 {
        left: 16.66666667%;
    }
    .col-sm-push-1 {
        left: 8.33333333%;
    }
    .col-sm-push-0 {
        left: auto;
    }
    .col-sm-offset-12 {
        margin-left: 100%;
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-sm-offset-9 {
        margin-left: 75%;
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-sm-offset-6 {
        margin-left: 50%;
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-sm-offset-3 {
        margin-left: 25%;
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-sm-offset-0 {
        margin-left: 0;
    }
}
@media (min-width: 892px) {


    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-pull-12 {
        right: 100%;
    }
    .col-md-pull-11 {
        right: 91.66666667%;
    }
    .col-md-pull-10 {
        right: 83.33333333%;
    }
    .col-md-pull-9 {
        right: 75%;
    }
    .col-md-pull-8 {
        right: 66.66666667%;
    }
    .col-md-pull-7 {
        right: 58.33333333%;
    }
    .col-md-pull-6 {
        right: 50%;
    }
    .col-md-pull-5 {
        right: 41.66666667%;
    }
    .col-md-pull-4 {
        right: 33.33333333%;
    }
    .col-md-pull-3 {
        right: 25%;
    }
    .col-md-pull-2 {
        right: 16.66666667%;
    }
    .col-md-pull-1 {
        right: 8.33333333%;
    }
    .col-md-pull-0 {
        right: auto;
    }
    .col-md-push-12 {
        left: 100%;
    }
    .col-md-push-11 {
        left: 91.66666667%;
    }
    .col-md-push-10 {
        left: 83.33333333%;
    }
    .col-md-push-9 {
        left: 75%;
    }
    .col-md-push-8 {
        left: 66.66666667%;
    }
    .col-md-push-7 {
        left: 58.33333333%;
    }
    .col-md-push-6 {
        left: 50%;
    }
    .col-md-push-5 {
        left: 41.66666667%;
    }
    .col-md-push-4 {
        left: 33.33333333%;
    }
    .col-md-push-3 {
        left: 25%;
    }
    .col-md-push-2 {
        left: 16.66666667%;
    }
    .col-md-push-1 {
        left: 8.33333333%;
    }
    .col-md-push-0 {
        left: auto;
    }
    .col-md-offset-12 {
        margin-left: 100%;
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-md-offset-0 {
        margin-left: 0;
    }
}
@media (min-width: 1100px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
    .col-lg-pull-12 {
        right: 100%;
    }
    .col-lg-pull-11 {
        right: 91.66666667%;
    }
    .col-lg-pull-10 {
        right: 83.33333333%;
    }
    .col-lg-pull-9 {
        right: 75%;
    }
    .col-lg-pull-8 {
        right: 66.66666667%;
    }
    .col-lg-pull-7 {
        right: 58.33333333%;
    }
    .col-lg-pull-6 {
        right: 50%;
    }
    .col-lg-pull-5 {
        right: 41.66666667%;
    }
    .col-lg-pull-4 {
        right: 33.33333333%;
    }
    .col-lg-pull-3 {
        right: 25%;
    }
    .col-lg-pull-2 {
        right: 16.66666667%;
    }
    .col-lg-pull-1 {
        right: 8.33333333%;
    }
    .col-lg-pull-0 {
        right: auto;
    }
    .col-lg-push-12 {
        left: 100%;
    }
    .col-lg-push-11 {
        left: 91.66666667%;
    }
    .col-lg-push-10 {
        left: 83.33333333%;
    }
    .col-lg-push-9 {
        left: 75%;
    }
    .col-lg-push-8 {
        left: 66.66666667%;
    }
    .col-lg-push-7 {
        left: 58.33333333%;
    }
    .col-lg-push-6 {
        left: 50%;
    }
    .col-lg-push-5 {
        left: 41.66666667%;
    }
    .col-lg-push-4 {
        left: 33.33333333%;
    }
    .col-lg-push-3 {
        left: 25%;
    }
    .col-lg-push-2 {
        left: 16.66666667%;
    }
    .col-lg-push-1 {
        left: 8.33333333%;
    }
    .col-lg-push-0 {
        left: auto;
    }
    .col-lg-offset-12 {
        margin-left: 100%;
    }
    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-lg-offset-9 {
        margin-left: 75%;
    }
    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-lg-offset-6 {
        margin-left: 50%;
    }
    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-lg-offset-0 {
        margin-left: 0;
    }
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none !important;
}
@media (max-width: 567px) {
    .visible-xs {
        display: block !important;
    }
    table.visible-xs {
        display: table;
    }
    tr.visible-xs {
        display: table-row !important;
    }
    th.visible-xs,
    td.visible-xs {
        display: table-cell !important;
    }
    .padding-xs-0{padding: 0 !important}
    .padding-xs-0{padding: 0 !important}

    .l-padding-xs-0{padding-left: 0 !important}
    .r-padding-xs-0{padding-right: 0 !important}

    .h-padding-xs-0{padding-left: 0 !important; padding-right: 0 !important}
    .v-padding-xs-0{padding-top: 0 !important; padding-bottom: 0 !important}
}
@media (min-width: 568px) and (max-width: 891px) {
    .visible-sm {
        display: block !important;
    }
    table.visible-sm {
        display: table;
    }
    tr.visible-sm {
        display: table-row !important;
    }
    th.visible-sm,
    td.visible-sm {
        display: table-cell !important;
    }
    .padding-sm-0{padding: 0 !important}
    .padding-sm-0{padding: 0 !important}

    .l-padding-sm-0{padding-left: 0 !important}
    .r-padding-sm-0{padding-right: 0 !important}

    .h-padding-sm-0{padding-left: 0 !important; padding-right: 0 !important}
    .v-padding-sm-0{padding-top: 0 !important; padding-bottom: 0 !important}
}
@media (min-width: 892px) and (max-width: 1099px) {
    .visible-md {
        display: block !important;
    }
    table.visible-md {
        display: table;
    }
    tr.visible-md {
        display: table-row !important;
    }
    th.visible-md,
    td.visible-md {
        display: table-cell !important;
    }
}
@media (min-width: 1100px) {
    .visible-lg {
        display: block !important;
    }
    table.visible-lg {
        display: table;
    }
    tr.visible-lg {
        display: table-row !important;
    }
    th.visible-lg,
    td.visible-lg {
        display: table-cell !important;
    }
}
@media (max-width: 567px) {
    .hidden-xs {
        display: none !important;
    }
}
@media (min-width: 568px) and (max-width: 891px) {
    .hidden-sm {
        display: none !important;
    }
}
@media (min-width: 892px) and (max-width: 1099px) {
    .hidden-md {
        display: none !important;
    }
}
@media (min-width: 1100px) {
    .hidden-lg {
        display: none !important;
    }
}

@media (max-width: 567px) {
    .b-margin-xs-2{margin-bottom: 2px !important}
    .b-margin-xs-5{margin-bottom: 5px !important}
    .b-margin-xs-6{margin-bottom: 6px !important}
    .b-margin-xs-7{margin-bottom: 7px !important}
    .b-margin-xs-8{margin-bottom: 8px !important}
    .b-margin-xs-9{margin-bottom: 9px !important}
    .b-margin-xs-10{margin-bottom: 10px !important}
    .b-margin-xs-15{margin-bottom: 15px !important}
    .b-margin-xs-20{margin-bottom: 20px !important}
    .b-margin-xs-25{margin-bottom: 25px !important}
    .b-margin-xs-30{margin-bottom: 30px !important}
    .b-margin-xs-35{margin-bottom: 35px !important}
    .b-margin-xs-40{margin-bottom: 40px !important}
    .b-margin-xs-45{margin-bottom: 45px !important}

    .t-margin-xs-2{margin-top: 2px!important}
    .t-margin-xs-5{margin-top: 5px!important}
    .t-margin-xs-6{margin-top: 6px !important}
    .t-margin-xs-7{margin-top: 7px !important}
    .t-margin-xs-8{margin-top: 8px !important}
    .t-margin-xs-9{margin-top: 9px !important}
    .t-margin-xs-10{margin-top: 10px!important}
    .t-margin-xs-15{margin-top: 15px!important}
    .t-margin-xs-20{margin-top: 20px!important}
    .t-margin-xs-25{margin-top: 25px!important}
    .t-margin-xs-30{margin-top: 30px!important}
    .t-margin-xs-35{margin-top: 35px!important}
    .t-margin-xs-40{margin-top: 40px!important}
    .t-margin-xs-45{margin-top: 45px!important}
}

@media (min-width: 568px) and (max-width: 891px) {
    .b-margin-sm-2{margin-bottom: 2px !important}
    .b-margin-sm-5{margin-bottom: 5px !important}
    .b-margin-sm-6{margin-bottom: 6px !important}
    .b-margin-sm-7{margin-bottom: 7px !important}
    .b-margin-sm-8{margin-bottom: 8px !important}
    .b-margin-sm-9{margin-bottom: 9px !important}
    .b-margin-sm-10{margin-bottom: 10px !important}
    .b-margin-sm-15{margin-bottom: 15px !important}
    .b-margin-sm-20{margin-bottom: 20px !important}
    .b-margin-sm-25{margin-bottom: 25px !important}
    .b-margin-sm-30{margin-bottom: 30px !important}
    .b-margin-sm-35{margin-bottom: 35px !important}
    .b-margin-sm-40{margin-bottom: 40px !important}
    .b-margin-sm-45{margin-bottom: 45px !important}

    .t-margin-sm-2{margin-top: 2px!important}
    .t-margin-sm-5{margin-top: 5px!important}
    .t-margin-sm-6{margin-top: 6px !important}
    .t-margin-sm-7{margin-top: 7px !important}
    .t-margin-sm-8{margin-top: 8px !important}
    .t-margin-sm-9{margin-top: 9px !important}
    .t-margin-sm-10{margin-top: 10px!important}
    .t-margin-sm-15{margin-top: 15px!important}
    .t-margin-sm-20{margin-top: 20px!important}
    .t-margin-sm-25{margin-top: 25px!important}
    .t-margin-sm-30{margin-top: 30px!important}
    .t-margin-sm-35{margin-top: 35px!important}
    .t-margin-sm-40{margin-top: 40px!important}
    .t-margin-sm-45{margin-top: 45px!important}
}

.center{
    text-align: center;
}
.justify{
    text-align: justify;
}
.left{
    float: left;
}
.right{
    float: right;
}
.tleft{
    text-align: left;
}
.tright{
    text-align: right;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.hide{
    display: none !important;
}
.cl{
    width: 100%;
    height: 1px;
    font-size: 1px;
    clear: both;
}
.no-underline, .underline-on-hover{
    text-decoration: none;
}
.underline-on-hover:hover{
    text-decoration: underline;
}
.no-padding{
    padding: 0 !important;
}
.no-margin{
    margin: 0 !important;
}
.responsive, .responzive{
    width: 100% !important;
    height: auto;
}
.bold{
    font-weight: bold;
}
hr {
    border: none;
    border-top: 1px solid #cecece;
    margin: 15px 0;
}

/*
flash
*/
.flash_abs.info, .flash_abs.success, .flash_abs.warning, .flash_abs.error{
    padding: 40px 10px 40px 50px;
    background-repeat: no-repeat;
    background-position: 10px center; 
    margin: 10px;
    border: 2px solid  #DEDCDC;
    width: 400px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -210px;   
    position: fixed;
    font-size: 16px;
    border-radius: 4px;
    z-index: 99999999;
}
.info {
    color: #00529B;
    background-color: #C6DBFF;
    background-image: url('../images/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/error.png');
}

/*
cookie control
*/
.cookiesConfirm{
    width: 100%;
    /*position: fixed;*/
    bottom: 0;
    background: #f2f2f2; 
    color: #657888;
    padding: 10px 0;
    line-height: 25px;
    margin-bottom: 0px;
    text-align: center;
    z-index:9999999;
    font-size: 11px;
}
.cookiesConfirm p{ margin: 0; padding: 2px;}
.cookiesConfirm a{ color: #657888; }
.cookiesConfirm a.ok{
    background: #4a8cf6;
    padding: 3px 15px;
    text-decoration: none;
    color: white;
    margin-left: 6px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}