{block #content}

{form searchForm}
    <div class="col-md-6 b-margin-20">
        <p class="b-margin-10 bold">{label category}</p>
        {input category}
    </div> 
    <div class="col-md-6 b-margin-20">
        <p class="b-margin-10 bold">{label region}</p>
        {input region}
    </div>
    <div class="center form-button-wrap">
        {input save}
    </div>
{/form}
<div class="t-margin-25 relative center">
    <p>Vyhledávání volných míst na yerlango.com zajišťuje pracovní portál <a href="https://www.dobraprace.cz/nabidka-prace/">Dobrá Práce.cz</a></p>
</div>
