{block #content}

<div class="h-padding-0 relative justify">
        <p>Web yerlango.com je součástí sítě webů s personální inzercí, kterou zastřešuje pracovní portál <a href="https://www.dobraprace.cz/">Dobrá Práce.cz</a>.
                Díky tomuto širokému záběru jsme schopni v závislosti na sezóně a ročním období oslovit <strong>až 50 tisíc uživatelů denně </strong>.
Naše personální inzerce je efektivní, cílená a cenově dostupná. Potřebujete-li snadnou a účinnou náborovou inzerci, která nabízí nejlepší poměr cena/výkon,
prohlédněte si náš <a href="https://www.dobraprace.cz/cenik-rozcestnik.php">ceník</a><ceník>.
Pro krátkodobou inzerci nebo menší společnosti či živnostníky je vhodný kreditní program. Pro dlouhodobé inzerenty s větším počtem pracovních
nabídek jsou pak připraveny vhodné cenové balíčky. Ty jsou díky unikátnímu řešení inzerce, který respektuje regionální působnost
i počet nabízených pracovních míst, vhodné opravdu pro všechny - nemusíte platit ani korunu navíc a navíc máte náklady na inzerci plně pod kontrolou.
</p>

<p class="center t-margin-25">
<img src="{$basePath}/images/img1.jpg">
</p>
</div>
