{block #content}

<div class="h-padding-0 relative justify">
        <p>Hledáte nabídky práce firmy <strong>{$company['name']}</strong>, ič.:{$company['ic']}?
                Pokud ano, klikněte <a href="https://www.spravnykrok.cz/prace/spolecnosti/{$company['id']}-{$company['name']|webalize}.html">sem</a>.</p>
</div>