{block #content}

<div class="h-padding-0 relative justify">
        <p>Skončili jste stávající pracovní poměr nebo školu a či plánujete změnit zaměstnání? Nemějte obavy, už to nemusí být
                stres jako dřív. Vhodnou práci můžete najít mnohem rychleji než si myslíte. Nebojte se přitom být aktivní.
                Jednou z prvních věcí, kterou byste měli udělat, je poslat životopis potenciálnímu zaměstnavateli. Ideálně
                doplněný o vhodný motivační průvodní dopis. Je však dobré se vyvarovat se některých chyb, které lidé často v
                životopisech dělají.
Ve spolupráci s pracovním portálem DobraPrace.cz jsme pro vás připravili článek, který pojednává o nejčastějších přešlapech,
kterých se lidé dopouštějí při psaní <a href="https://www.dobraprace.cz/zivotopis-vzor.php">strukturovaného životopisu</a>.
</p>

<p class="center t-margin-25">
<img src="{$basePath}/images/img2.jpg">
</p>


<h2>1. Struktura životopisu</h2>
<p>Životopis by vždy měl mít nějakou strukturu. Zaměstnavatelé jsou na ni zvyklí a pokud strukturu dodržíte, budou se i oni snáz ve vašem CV orientovat. V zásadě se stačí držet jednoduché posloupnosti:
</p>  

<ul class="t-margin-15">
        <li>Základní údaje (jméno, příjmení, fotografie, telefon, email...)</li>
        <li>Dosavadní pracovní zkušenosti (praxe) - od té poslední k těm starším!</li>
        <li>Vzdělání - od poslední k těm starší!</li>
        <li>Jazyky a zkušenost s počítačem</li>
        <li>Koníčky - co Vás baví - vyhněte se strohému běhu, plavání, četbě a jízdě na kole</li>
    </ul>

 <p>
    <h2>2. Nepište nesmysly a nelžete!</h2>
    <p>Pokud jste ve svém dosavadním životě absolvovali velké množství brigád, není potřeba je uvádět, repsektive určitě ne všechny. Potenciálního zaměstnavatele to opravdu nezajímá, že jste chodili sbírat jahody nebo jste byli sklízet chmel. Ovšem absolvovali-li jste nějakou brigádu, které aspoň vzdáleně souvisí s pracovní pozicí, o kterou se ucházíte, určitě ji uveďte. Zejména pokud zatím nemáte žádnou nebo minimální praxi.
    Rozhodně nedoporučujeme uvádět v životopise záměrně zkreslené či nepravdivé údaje. Zaměstnavatelé si je často ověřují a pokud objeví, že jste lhali, budete pravděpodobně z výběrového řízení vyloučeni a to i do budoucna.
    </p> 

    <h2>3. Přidejte fotku</h2>
    <p>Fotografie v životopise už je celkem standard. Není to sice podmínkou, ale z našich zkušeností víme, že více než polovina CV již fotku obsahuje a zaměstnavatelé jsou na ni zvyklí. Je ale dobře zvážit, jaký snímek vybrat. Vyvarujte se fotek z party, skupinových fotek a podobně. Dámy, zcela mimo je pak posílání vyzývavých či odhalených fotek a to i v případě, že máte co nabídnout. Vhodnou fotkou je tak tzv. pasový snímek - tedy tvář s jednobarevným pozadím.
    </p>

    <h2>4. Buďte originální</h2>
    <p>Pokud máte stále stejný životopis, který zasíláte do všech firem a na všechny pozice, nejde o ideální řešení. Životopis by měl být vždy připraven na míru firmě, u které se ucházíte o práci. Samozřejmě je jasné, že základní údaje a některé další informace nezměníte, ale můžete zdůraznit či podrobněji rozebrat zkušenosti, které zcela jistě najdou v oslovené společnosti uplatnění. Ideální je pak zcela individuálně psát motivační průvodní dopis, který by měl být vyloženě šitý na míru konkrétní společnosti a vázaný na konkrétní pracovní pozici.
    </p>

    <h2>5. Špatný formát životopisu</h2>
    <p>V současné době se již životopisy příliš neposílají poštou, nýbrž se posílají elektronicky. I pokud máte sebelépe připravený životopis, je nutné ho správně poslat. Je vhodné vlastní CV připojit do samostatného souboru, který by měl být uložen v některém z rozšířených formátů. Nejčastěji doporučujeme PDF soubor, méně vhodný, přesto rozšířený je klasický textový dokument s příponami doc, docx, rtf apod. Formát PDF se personalistovi mnohem lépe prohlíží a také má mnohem větší šanci, že jej na kterémkoliv počítači uvidí úplně stejně. Pokud si ovšem otevře dokument Microsoft Office tak vždy může vypadat úplně jinak a odlišné formátování v závislosti na podobě textového editoru může dokument zcela změnit k nepoznání.
    Velkou chybou je pak posílání životopisu přímo v těle zprávy. Vždy dávejte CV do přílohy.
    </p>


</div>
