{block #content}

<div class="h-padding-0 relative justify">
        <p>Provozovatelem yerlango.com je společnost INET-SERVIS.CZ, s.r.o.
Stránka yerlango.com nesbírá v souvislosti inzercí práce žádné osobní údaje uchazečů. Případné zobrazované nabídky práce jsou přebírány z pracovních portálů dobraprace.cz a upcr.cz. Pokud uživatel provádí jakoukoliv registraci či odpověď na pracovní nabídku, neprovádí tuto akci prostřednictvím yerlango.com, ale jiných webových stránek.
</p>
<br />
<p>
Web yerlango.com používá k vyhodnocování návštěvnosti službu Google Analytics, poskytovanou společností Google, Inc. (dále jen "Google").
Služba Google Analytics používá souborů "cookies", které jsou textovými soubory ukládanými do počítače každého návštěvníka webového rozhraní, a které umožňují analýzu způsobu užívání webového rozhraní. Informace vygenerované souborem cookie o užívání stránky (včetně IP adresy) budou společností Google přeneseny a uloženy na serverech ve Spojených státech amerických. Google bude užívat těchto informací pro účely vyhodnocování užívání webového rozhraní a vytváření zpráv o aktivitě jeho uživatelů, určených pro nás a pro užívání internetu vůbec. Google může také poskytnout tyto informace třetím osobám, bude-li to požadováno zákonem nebo budou-li takovéto třetí osoby zpracovávat tyto informace pro Google. Google nebude spojovat IP adresu subjektu s jakýmikoli jinými daty, která má k dispozici.Používáním webového rozhraní souhlasíte se zpracováváním údajů o Vás společností Google, a to způsobena k účelu shora uvedeným.
</p>
<br />
<p>
Používání souborů cookies můžete odmítnout volbou v příslušném nastavení v internetovém prohlížeči.Upozorňujeme na to, že při odmítnutí používání souborů cookies není vyloučeno, že nebudete moci plně využívat veškeré funkce webového rozhraní.

</p>
</div>
