{block #content}

<div class="h-padding-0 relative justify">
        <p>Ve spolupráci se stránkami <a href="https://upcr.cz/">UPCR.cz</a> vám přinášíme přehled nabídek práce jednotlivých úřadů práce (členěno dle okresů).
</p>


<br />

<ul>
    
        {foreach $upcr as $key => $city}
            <li><a target='_blank' href="https://upcr.cz/volna-mista-{$key}">Volná pracovní místa {$city}</li>
        {/foreach}
</ul>

</div>
