{*
 * @version    $Id: template.phtml 2 2009-07-13 20:58:52Z david@grudl.com $
 * @param Paginator $paginator
 * @param array     $steps
 *}

{if $paginator->pageCount > 1}
<div class="paginator">
	{if $paginator->isFirst()}
	<span class="pagebutton pagePrew">« Předchozí</span>
	{else}
	<a class="pagePrew" href="{link this, 'page' => $paginator->page - 1}#results">« Předchozí</a>
	{/if}

	{foreach $steps as $step}
	{if $step == $paginator->page}
		<span class="current ">{$step}</span>
	{else}
		<a class="" href="{link this, 'page' => $step}#results">{$step}</a>
	{/if}
	{if $iterator->nextValue > $step + 1}<span>…</span>{/if}
	{/foreach}

	{if $paginator->isLast()}
	<span class="pagebutton pageNext ">Následující »</span>
	{else}
	<a class="pageNext" href="{link this, 'page' => $paginator->page + 1}#results">Následující »</a>
	{/if}
</div>
{/if}

