{block #content}

<div class="h-padding-0 relative">
        <section>

            {form searchForm}
                <div class="col-md-6 b-margin-20">
                    <p class="b-margin-10 bold">{label region}</p>
                    {input region}
                </div> 
                <div class="col-md-6 b-margin-20">
                    <p class="b-margin-10 bold">{label category}</p>
                    {input category}
                </div>
                <div class="center form-button-wrap">
                    {input save}
                </div>
            {/form}
                 
        </section>
        <h2 class="t-margin-20">Vyberte si z nabídky práce</h2>
        <p>Nabídky jsou připraveny ve spolupráci s partnerským webem <a href="https://www.jobsik.cz/volna-pracovni-mista/">Jobsik.cz</a></p>
        <h2 class="t-margin-20">Poslední nabídky práce</h2>
        {if !empty($fakeJobs)}
            {foreach $fakeJobs as $fakeJob}
                <div class="job">
                        <h3><a href="{$fakeJob['link']}">{$fakeJob['title']}</a></h3>
                        <p class="small-info"><span class="bold">{$fakeJob['place']}</span> | {$fakeJob['firm']} | {$fakeJob['date']|date:'j.n.Y H:i'}</p>
                </div>
            {/foreach}
        {/if}
        <div class="center t-margin-35 b-margin-25">
            <a class="big-button" href="https://www.jobsik.cz/volna-pracovni-mista/">Zobrazit další nabídky práce &raquo;</a>
        </div>
</div>
