{block #content}

<div class="h-padding-0 relative">
        <h2 class="t-margin-20">Poptávky práce</h2>
        <p>Hledáte práci? Nečekejte, že vám sama spadne do klína a jděte štěstí naproti.
                Zaregistrujte se k <a href="https://www.jobsik.cz/prace-na-email/">odběru pracovních nabídek na email</a> na našem partnerském webu
        </p>
        <br />
        <p> Také k nám můžete <a href="https://www.dobraprace.cz/zivotopis-hledam-praci.php">nahrát svůj životopis.</a>
        </p>       
</div>