{control header}

<script>
  (function(i,s,o,g,r,a,m){ i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', {$appSetting['googleAnalyticsId']}, 'auto');ga('send', 'pageview');
</script>

<body class='{php echo str_replace(":", "", $presenter->name);} {$presenter->action}'>
    
    <header>
        <div class="row">
            <div class="container h-padding-0">
                    <div class="header col-md-12 relative">
                            <div class="col-md-6">
                                <div class="logo left"><a href="{link Homepage:}"><span>Y</span>erlango</a></div>              
                            </div>
                            <div class="col-md-6">
                                <nav>
                                    <div id="main-menu">                    
                                        <ul>                       
                                            <li><a title="Vložit životopis" href="{link Homepage:firms}">Hledáme zaměstnance</a></li>                                       
                                        </ul>
                                    </div>
                                <nav>
                            </div>                                
                    </div>
                    <div class="cl"></div>
            </div>
        </div>
    </header>
                 
    <div class="row background">         
        <div class="container main">
              
                    <h1>{$seo['h1']}</h1>
                    {include #content}
               
                <div class="cl"></div>
        </div>      
    </div>     
        
    <footer>        
        <div class="row footer">
            <div class="container">
                <p>Hledání nabídek práce může být nyní na Yerlango.com ještě jednodušší než kdy jindy. Díky partnerskému portálu
                    <a href='https://www.dobraprace.cz/'>DobraPrace.cz</a> přináší Yerlango.com každý den aktuální nabídky práce a brigády.
                    Prohledávejte tisíce pracovních nabídek z celé republiky i ze zahraničí.
                </p>
            </div>
        </div>            
    </footer>                
               
    {snippet flash}
        {foreach $flashes as $flash}
        <div class="flash_abs {$flash->type}" onclick="$(this).fadeOut(500);" >{$flash->message}</div>
        {/foreach}
    {/snippet}    
        
    {if $showGooglePolicy && $presenter->name != 'Front:Error'}
        <div class="cl"></div>
        <div class="row">
            <div class="cookiesConfirm">
                <p>Při poskytování služeb nám pomáhají soubory cookie. Procházením tohoto webu
                    vyjadřujete souhlas s naším používáním souborů cookie.
                    <a target="_blank" href="https://www.google.com/intl/cs/policies/technologies/cookies/">Další informace</a>
                    <a class="ok ajax" onclick='$(".cookiesConfirm").slideToggle();' href="{link cookieConfirm!}">Rozumím</a>               
                </p>
            </div>
       </div>
    {/if}
   
    
    </body>
</html>