<html>
    <head>
        <style type="text/css">
            html { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;font-size: 12px;}			
        </style>
    </head>
    <body>      

        {include #content}
          
        <br />
        
        <p>Email byl odeslán z webu {$app['title_webalize']}</p>
        
    </body>
</html>