{layout "@layout.latte"}

{block #content}

<div style="background: #e4f0fb; padding: 5px; margin-bottom: 10px;">  
    <p style="padding: 5px;"><span style="display: block; float:left; width: 120px">Jméno a příjmení:</span>{$data['name']}</p>
    <p style="padding: 5px;"><span style="display: block; float:left; width: 120px">Email:</span>{$data['email']}</p>
    <p style="padding: 5px;"><span style="display: block; float:left; width: 120px">Phone:</span>{$data['phone']}</p>
</div>

<br />

<p>Text zprávy (dotaz):</p>
<p>{$data['text']}</p>