{block #content}

<div class="h-padding-0 relative">
        <p>Projekt mamjob.cz provozuje společnost <a href="https://www.inet-servis.cz/">INET-SERVIS.CZ</a>. Máte-li nějaké dotazy týkající se pracovní inzerce, můžete nám poslat dotaz:
        </p>
        <br />
        {control contactForm}
        <br />
</div>