{contentType text/xml}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">{foreach $data as $item}<url><loc>{$item['loc']}</loc><changefreq>{$item['changefreq']}</changefreq><priority>{$item['priority']}</priority></url>{/foreach}</urlset>